body{
   font-family: 'Roboto', sans-serif;
   background-color: #F9F7FE;
}
main{
    margin:25px 0;
    border-top:1px solid #F9F7FE;
    border-bottom: 1px solid #F9F7FE;
    padding: 20px;
}
span{
    opacity:0.6;
}
.weather-humidity,.weather-speed{
    font-weight: 900;
    color: pink;
}
h1{
    margin-bottom: 0;
}
img{
    height: 80px;
    width: 80px;
}
div p{
    line-height: 1.5;
   
}
footer p{
    font-size: 15px;
    text-align: center;
}
a{
    color:#885DF1;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.weather-app-container{
   background-color: #FFFFFF; 
   max-width: 600px;
   margin: 50px auto;
   border-radius: 16px;
   padding: 25px;
}
.city-input{
    width:80%;
   border: none;
   background-color:#F9F7FE;
   padding: 15px 20px;
   font-size: 17px;
   border-radius: 8px;
   margin-left: 4px;
}
.search-btn{
    padding: 15px 30px;
    background-color: #885DF1;
    border: none;
    color:#FFFFFF;
    font-size: 17px;
    border-radius: 8px;
}
.search-btn:hover{
    cursor: pointer;
    opacity: 0.6;
}

.weather-app-details{
    display: flex;
    justify-content: space-between;
}
.weather-items-description{
    display:flex;
    justify-content: space-around;
    padding: 10px;
   
}
.weather-icon{
    font-size: 80px;
}
.weather-temp{
    font-weight: 900;
    font-size: 80px;
}
.weather-unit{
    font-size: 35px;
}
.weather-forecast-container{
    display:flex;
    justify-content: space-around;
    margin:40px 0;
   
}
.day-weather-forecast{
    text-align: center;
}
.date-time{
   margin-bottom:20px;
   opacity:0.6;
   font-size:17px;
}
.day-weather-icon{
    font-size: 50px;
    
}
.max-min-temp{
    color:rgb(233, 80, 105);
    margin-top: 20px;
    
}