body{
   font-family: 'Roboto', sans-serif;
   background-color: #F9F7FE;
}
.weather-app-container{
   background-color: #FFFFFF; 
   max-width: 600px;
   margin: 50px auto;
   border-radius: 16px;
   padding: 25px;
}
.city-input{
    width:80%;
   border: none;
   background-color:#F9F7FE;
   padding: 15px 20px;
   font-size: 17px;
   border-radius: 8px;
   margin-left: 4px;
}